.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
}

.dialog{
  display: flex;
  align-items: center;
}

.dialogsItems {
  padding: 10px;
  color: white;
}

.active {
  text-decoration: none;
  color: black;
  margin-left: 20px;
}

.messages {
  padding: 10px;
}

.messages .message {
  color: white;
}

.dialogsAvatar img {
  width: 40px;
  height: 40px;
  border-radius: 25px;
}

.dialogName {
  margin-left: 20px;
  text-decoration: none;
  color: white;
}